*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0 auto;
}

.container {
  max-width: 350px;
  margin: 0 auto;
  padding: 0;
}

p {
  font-size: 12px;
}

a {
  font-weight: bold;
  color: #28256B;

}

h1 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  color: #28256B;
  text-align: center;
  line-height: 30px;
}

table{
  font-size: 10px;
}

table td{

}

table th{
  color: white;
  background-color: #28256B;
  text-align: center;
}

#leaderboard tr.header, #leaderboard tr:hover {
  background-color: #f1f1f1;
}
.logo img {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  width: 230px;
  align-items: center;
  justify-content: center;
}


.text-guide {
  font-size: 12px;
  text-align: center;
  font-style: italic;
  margin: auto;
}

.sign-in-form label {
  font-weight: bold;
}

.sign-in-form button {
  color: white;
  background-color: #28256B;
  margin: 0 110px;
  font-size: 12px;
}

.sign-in-form label {
  font-size: 12px;
}

button {
  transition-duration: 0.4s;
  color: white;
  font-size: 12px;
  background-color: #28256B;
}

button:hover {
  background-color: white;
  /* Green */
  color: #28256B;
  border: 2px solid #28256B;
}

footer {
  text-align: center;
  margin: auto;
  background-color: #F4F4F4;
}




/* Homepage */
.mobile-header {
  background-color: #F4F4F4;
}

.search-golfer{
  border-radius: 10px;
  font-size: 10px;
  height: 40px;
  background-color: #F4F4F4;
  border: none;
}

table{
  font-size: 10px;
}

table td{

}

table th{
  color: white;
  background-color: #28256B;
  text-align: center;
}

.text-guide {
  font-size: 12px;
  text-align: center;
  font-style: italic;
  margin: auto;
}

.text-guide a{
  text-decoration: none;
}